<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{COMPONENT_NAME}}</title>
    <script>window.process = { env: { NODE_ENV: 'development' } }</script>
    <script type="module">{{REACT_SOURCE}}</script>
    <script type="module">{{REACT_DOM_SOURCE}}</script>
</head>
<body>

    <div id="root"></div>

    <script type="module">
        {{COMPONENT_SCRIPT}}
    </script>

<!--
    <script>
        {{TEST_SCRIPT}}
    </script>
-->

</body>
</html>
